// This is to modilfy the style of cart panel
// ------------------------------------------
#panel-cart{

    .cart-table{

        tr{
            display: flex;
            //align-items: center;

            td,th{
                display: block;
            }
        }

        td,th{
            padding: .85rem;
        }

        .title{
            width: 55%;
            .name{
                text-overflow:ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        .price{
            width: 27%;
            line-height: 32px;
        }
        .actions{
            width: 18%;
            line-height: 32px;
        }
    }

}