// This is to modilfy the style of checkout page
// ---------------------------------------------
.bg-image{
    overflow: hidden;

    img{
        display: block !important;
    }
}

// START
// Checkout page style
// ---------------------------------
.checkout-page{

    .checkout-cart-table{
        td{
            padding: 1rem .85rem;
        }

        .title{
            //background-color: red;
        }
        .price{
            width: 115px;
            span{
                margin-left: 2px;
                font-size: .85rem;
            }
        }
    }

}


//To fix sticky issue on small screen size
//-----------------------------------------
@media screen and (max-width: 991px) {

    .checkout-page{

        .stick-to-content{
            position: static !important;
            top: 0 !important;
            left: 0 !important;
        }

        .stick-holder > div > div{
            padding-bottom: 0 !important;
        }

    }

}