// This is to modilfy the style of header
// ------------------------------------------
#header-mobile{

    h5{
        margin: 0;
        line-height: 60px;
    }

    .module-cart{
        i{
            line-height: 1;
        }
    }

}